body {
    margin: 0;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;

    #layout-main {
        height: 100vh;
        overflow-y: scroll;
    }
}

::-webkit-scrollbar {
    display: none;
}